.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  height: 100vh;
}

.upload-container {
  background: white;
  display: inline-block;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005ec2;
}
